@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*import nemusí být, protože je již uveden v HTML*/

body {
  /*text-align: center;*/
  font-family: "Open Sans", sans-serif !important;
}

/* -----NAVIGATION------*/
a.navbar-brand {
  font-size: 1.5em;
  font-weight: 700;
  color: #0066ff;

}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.about:hover,
.todolist:hover {
  color: #0066ff;
}

/*-----------------------------*/


.todolist-title {
  margin: 2em 0 1em 0; 
}


/* ------ABOUT section----- */
.about-countainer-title {
  margin-top: 2em;
}

.about-countainer-text {
  margin: 2em 0 2em 0;
  padding: 1.8em 1em 1em 1em;
  border: 2px solid #0066ff;
  box-shadow: 5px 1px 27px #0066ff;
  border-radius: 10px;
  background-color: #e8ebea
}

/* -----PROJECT section----- */
/* FormText component */
.formtext-container {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  .formtext-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;


    @media (min-width: 21.875em) { //350 px
      flex-direction: row;
    }

    .form-text-button-add {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2em 0 4em 0;

      @media (min-width: 21.875em) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
      }

      .button-add {
        height: 3em;
        width: 9em;
      }
    }
  }
}

.form-label {
  font-weight: 650;
}

.button-plus i {
  margin-right: 0.5em;
}


/*
.button-delete::before {
  content: "\1F5D1"; // Unicode hex zápis
  margin-right: 8px;
  color: white;
  font-size: 20px;
}
*/


/* ListForm component */

.form-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #0066ff;
  padding-bottom: 1em;
  margin-bottom: 1em;

  @media (min-width: 37.5em) {
    // 600px
    flex-direction: row;
  }
}

.item-task {
  display: flex;
  text-align: center;
  padding: 1em 0 1em 0;
  font-weight: 600;
  font-size: 1.4em;
  width: 100%;

  @media (min-width: 37.5em) {
    // 600px
    text-align: start;
    padding: 0 1em 0 1em;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: 48.125em) {
    // 770px
    padding-left: 1.8em;
    flex-direction: row;

  }

  .item {
    margin: 0.5em;
  }

  .item-statelist {
    display: flex;
    justify-content: center;

    @media (min-width: 48.125em) {
      // 770px
      justify-content: flex-start;
    }
  }
}

.list-group-item {
  width: 96%;
}

.button-delete {
  width: 4em;

  i {
    color: white;
  }
}


/* CHECKBOX */
.form-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"].custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgb(108, 117, 125);
  cursor: pointer;
  position: relative;
  outline: none;
  transition: background-color 0.1s, border-color 0.1s;
}

/* Po zaškrtnutí bude pozadí zelené a okraj zelený */
input[type="checkbox"].custom:checked {
  background-color: rgb(25, 135, 84);
  border-color: rgb(25, 135, 84);
}

/* Bílá fajfka se vykreslí jako pseudo-element ::after */
input[type="checkbox"].custom:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}





/*--------------------------------------------*/


/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/